.mainNav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1;
}

.fa-cut {
    display: none;
    font-size: 60px !important;
    margin-right: 50px;
    color: white;
}

@media(max-width: 991px) {
    .fa-cut {
        display: none;
        font-size: 40px !important;
        margin-right: 10px;
    }
}

.mainNav__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350px;
    margin: 0 auto;
}

.mainNav__logoLink {
    display: flex;
    align-items: center;
    font-size: 35px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

@media(max-width: 991px) {
    .mainNav__logoLink {
        font-size: 28px;
    }
}

.mainNav__menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 0.5s;
    transition-property: opacity, transform;
}

@media(max-width: 991px) {
    .mainNav__menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: black;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-50%);
    }
}

@media(max-width: 991px) {
    .mainNav__menu--open {
        opacity: 1;
        pointer-events: unset;
        transform: unset;
    }
}

.mainNav__menuItem {
    margin-left: 40px;
}


@media(max-width: 1199px) {
    .mainNav__menuItem {
        margin-left: 30px;
    }
}

@media(max-width: 991px) {
    .mainNav__menuItem {
        margin-left: 0;
    }
}

.mainNav__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 5px;
}

.mainNav__link:hover {
    border-bottom: 2px solid white;
}

@media(max-width: 991px) {
    .mainNav__link:hover {
        border-bottom: unset;
    }
}

@media(max-width: 991px) {
    .mainNav__link {
        font-size: 22px;
    }
}

.mainNav__mobileBtn {
    display: none;
}

@media(max-width: 991px) {
    .mainNav__mobileBtn {
        display: unset;
        background: none;
        border: none;
        padding: 0;
    }
}

@media(max-width: 991px) {
    .mainNav__mobileBtnImg {
        width: 25px;
        display: block;
    }
}