.mapContainer {
    display: flex;
    flex-wrap: wrap;
}

.route {
    width: 50%;
    min-height: 50vh;
    border: none;
}

@media(max-width: 991px) {
    .route {
        width: 100%;
    }
}

#route2,
#mapText2 {
    border-top: 2px solid black;
}

@media(max-width: 991px) {

    #route2,
    #mapText2 {
        border: unset;
    }
}

.mapText {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    min-height: 50vh;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}


@media(max-width: 991px) {
    .mapText {
        width: 100%;
        font-size: 15px;
    }
}

.mapText p {
    text-align: left;
    margin-left: 10px;
    color: #333;
}



.mapText__dh {
    text-align: left;
    margin-left: 30px;
}

.mapText__dh p:nth-last-child(1) {
    color: red;
}